# Git
.git
.github

# Development dependencies
node_modules
npm-debug.log

# Build artifacts
dist

# Tests
tests
coverage

# IDE
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Documentation
*.md
!README.md

# Docker
Dockerfile*
docker-compose*.yml

# CI
.gitlab-ci.yml

# Environment files
.env
.env.*
